.row-fluid
  .span4
    .well
      %h4
        Chicago Public Health Indicators

      #view_accordion.accordion

        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#view_accordion", "data-toggle" => "collapse", :href => "#viewDiabetes", "data-view" => "2006 diabetes percent"}
              %span.filter-box{:style => 'background-color: #2CA25F;'}
              Diabetes percent
          .accordion-body.collapse.in{:id => "viewDiabetes"}
            .accordion-inner
              Diabetes rate by zip code from 2006 to 2010. Based on patient data from Chicago hospitals.

              %h4
                Year:
                %span#diabetes-year-selected
              #diabetes-year
              %span.pull-left 2006
              %span.pull-right 2010

        - cnt = 0
        - atlas_view_modes.each do |view|
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#view_accordion", "data-toggle" => "collapse", :href => "#view#{cnt}", "data-view" => view}
                %span.filter-box{:style => 'background-color: #3182BD;'}
                = view
            .accordion-body.collapse{:id => "view#{cnt}"}
              .accordion-inner
                Description of
                = view
          - cnt = cnt + 1

  .span8
    #mapCanvas

- content_for :javascripts do
  = include_javascript :"jquery.address.min"
  = include_javascript :"http://maps.google.com/maps/api/js?sensor=false"
  = include_javascript :"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
  %script{:src => "/javascripts/maps_lib.js?1", :type => "text/javascript"}
  = include_javascript :"bootstrap-popover"
  = include_javascript :"jquery-ui-slider.min"

  :javascript
    $(window).resize(function () {
      var h = $(window).height(),
        offsetTop = 70; // Calculate the top offset
    
      $('#mapCanvas').css('height', (h - offsetTop));
      $('#view_accordion').css('height', (h - offsetTop - 120));
    }).resize();
    
    $(function() {
      $('label.checkbox.inline').popover();
      
      MapsLib.initialize();

      $('.accordion-toggle').click(function(){
        var view = $(this).attr('data-view');
        MapsLib.doSearch(view);
      });

      $("#diabetes-year").slider({
          orientation: "horizontal",
          range: "min",
          min: 2006,
          max: 2010,
          value: 1,
          slide: function (event, ui) {
              $("#diabetes-year-selected").html(ui.value);
              MapsLib.doSearch(ui.value + " diabetes percent");
          }
      });
      $("#diabetes-year-selected").html($("#diabetes-year").slider("value"));

    });